body {
  padding: 0;
  margin: 0;
  background-color: burlywood;
}

.navbar {
  background-color: rgb(21, 21, 25);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.options {
  text-decoration: none;
  list-style-type: none;
  overflow: hidden;
  margin: 0;
  padding-right: 3rem;
  display: flex;
  justify-content: space-between;
}

li {
  display: block;
}

.logo_img {
  height: 40px;
  padding: 10px 0 10px;
}

.nav {
  text-decoration: none;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  display: block;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 20px 20px;
  text-decoration: none;
}

.nav:hover {
  background-color: blue;
}

.vertical {
  /* writing-mode: vertical-rl; */
  font-size: 100px;
  color: white;
  text-shadow: 1px 1px 2px black;
  writing-mode: vertical-rl;
}


.card{
    height: 50vh;
    width: 65vw;
    background-color: white;
    position: relative;
    margin: 10% auto;
}




.ship{
    height: 30vh;
    position: relative;
    margin: 10% 3%;
    animation: ship 3s linear infinite;
}


@keyframes ship {
    0%{
        transform: rotate(0deg)
    }
    25%{
        transform: rotate(3deg)
    }
    50%{
        transform: rotate(0deg)
    }
    75%{
        transform: rotate(-5deg)
    }
}



@media screen and (max-width: 733px) {
  .logo_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .options {
    padding: 0;
    display: block;
  }

  li {
    display: block;
  }

  .navbar {
    flex-direction: column;
  }

  .nav:hover {
    background-color: blue;
  }
}
